{% extends 'base.html.twig' %}

{% set pageTitle = 'allCatalog'|trans %}
{% set pageDesc = pageDesc %}

{% block content %}
  <div id="appCatalog" data-catalog-widget
     data-title="{{ 'allCatalog'|trans }}"
     data-desc="{{ pageDesc|default('filteringList'|trans) }}"
     data-list-dso="{{ list_dso|json_encode }}"
     data-list-facets="{{ list_facets|json_encode }}"
     data-selected-filters="{{ filters|json_encode }}"
     data-total-dso="{{ 'nbResults'|trans({'%count%': nb_items|default(0)}) }}"
     data-page="{{ current_page }}"
     data-total-page="{{ nb_pages }}"
     data-pagination="{{ pagination|json_encode }}"
     data-download="{{ download_link }}"
  >
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('catalog') }}
{% endblock%}
