{% extends 'base.html.twig' %}

{% block content %}
  {% set title = "const_id." ~ constellation.id|lower %}
  <div id="appConst"
       data-const-widget
       data-title="{{ title|trans }}"
       data-imgcover="{{ asset('build/images/const_thumbs/' ~ constellation.id|lower ~ '.jpg') }}"
       data-list="{{ list_dso|json_encode }}"
  ></div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('const') }}
{% endblock %}
