{% extends'base.html.twig' %}

{% set pageTitle = 'constId'|transchoice(list_constellation|length)  %}
{% set pageImage = asset('/build/images/constellation_list.jpg') %}

{% block content %}
  <div id="appListConst"
      data-constellations
      data-title-const="{{ 'constId'|transchoice(list_constellation|length) }}"
      data-list-const="{{ list_constellation|json_encode }}"
      data-imgcover="{{ pageImage }}"
    >
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('const_list') }}
{% endblock %}
