{% extends 'base.html.twig' %}

{% set constellation = constellation|json_decode %}
{% set title = constellation.alt %}
{% set pageTitle = "const_id"|transchoice(0) ~ ' - ' ~ title %}
{% set pageImage = constellation.image %}
{% set pageDesc = constellation.description|raw %}

{% block content %}
  <div id="appConst"
     data-const-widget
     data-title="{{ title|trans }}"
     data-title-map="{{ 'skymap'|trans }}"
     data-desc="{{ constellation.description|raw }}"
     data-imgcover="{{ constellation.image }}"
     data-map="{{ constellation.map }}"
     data-list-dso="{{ list_dso|json_encode }}"
     data-link="{{ link_download }}"
  ></div>
  <div id="geojson" data-dso="{{ geojsonDso|json_encode }}" data-center="{{ centerMap|json_encode }}" data-const="{{ constellation.id }}" data-zoom="5" aria-hidden="true"></div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('const') }}
  {{ encore_entry_script_tags('skymap') }}
{% endblock %}
