{% extends 'base.html.twig' %}

{% set pageTitle = title %}
{% set pageImage = imgCover %}
{% set pageDesc = '' %}
{#https://coxpi.draftium.site/#}

{% block content %}
  <div id="appDso"
    data-dso-widget
    data-imgcover="{{ imgCover }}"
    data-dso="{{ dso|json_encode }}"
    data-title="{{ title }}"
    data-images="{{ images|json_encode }}"
    data-geojson-dso="{{ geojsonDso }}"
    data-astrobin-msg="{{ 'astrobin.message'|trans }}"
    data-title-const="{{ constTitle }}"
    data-dso-const="{{ dso_by_const|json_encode }}"
  >
  </div>
  <div data-dso-map data-geojson-dso="{{ geojsonDso }}" aria-hidden="true"></div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('dso') }}
  {#{{ encore_entry_script_tags('d3') }}#}
  {#{{ encore_entry_script_tags('celestial') }}#}
{% endblock %}

{#{% block stylesheets %}#}
  {#{{ parent() }}#}
  {#{{ encore_entry_link_tags('celestial') }}#}
{#{% endblock %}#}

