{% extends 'base.html.twig' %}

{% set pageTitle = title %}
{% set pageImage = imgCover %}
{#https://coxpi.draftium.site/#}

{% block content %}
  <div
    data-dso-widget
    data-imgcover="{{ imgCover }}"
    data-dso="{{ dso|json_encode }}"
    data-title="{{ title }}"
    data-images="{{ images|json_encode }}"
    data-geojson-dso="{{ geojsonDso }}"
  ></div>

  <div id="app"></div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('dso') }}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('celestial') }}
{% endblock %}

