{% extends 'base.html.twig' %}

{% set pageTitle =  'dso.title.seo'|trans({'%title%': title, '%type%': type|trans|lower }) %}
{% set pageImage = imgCover %}

{% set descDefaut = 'dso.desc.seo'|trans({'%title%': title,'%constId%': constTitle|lower,'%type%': type|trans|lower, '%mag%': magnitude }) %}
{% set pageDesc = description|truncate(200)|default(descDefaut) %}
{% set pageImageDesc = imgCoverAlt %}

{#https://coxpi.draftium.site/#}

{% block content %}
  <div id="appDso"
    data-dso-widget
    data-imgcover="{{ imgCover|default('default') }}"
    data-imgcoveralt="{{ imgCoverAlt|default('') }}"
    data-dso="{{ dsoData|json_encode }}"
    data-title="{{ dso.title }}"
    data-description="{{ description }}"
    data-title-map="{{ 'skymap'|trans }}"
    data-title-gallery="{{ 'galery'|trans }}"
    data-images="{{ images|json_encode|default({}) }}"
    data-astrobin-msg="{{ 'astrobin.message'|trans }}"
    data-title-const="{{ constTitle }}"
    data-dso-const="{{ dso_by_const|json_encode }}"
    data-filter="{{ list_types_filters|json_encode }}"
    data-breadcrumbs="{{ breadcrumbs|json_encode }}"
  >
  </div>
  <div id="geojson"
       data-dso="{{ geojsonDso|json_encode }}"
       data-center="{{ centerMap|json_encode }}"
       data-const="{{ constId|raw }}"
       data-zoom="10" aria-hidden="true"></div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('dso') }}
  {{ encore_entry_script_tags('skymap') }}
{% endblock %}
