{% extends 'base.html.twig' %}

{% set pageTitle = title %}
{% set pageImage = imgCover %}
{% set pageDesc = '' %}
{#https://coxpi.draftium.site/#}

{% block content %}
  <div id="appDso"
    data-dso-widget
    data-imgcover="{{ imgCover|default('default') }}"
    data-imgcoveruser="{{ imgCoverUser|default('') }}"
    data-dso="{{ dso|json_encode }}"
    data-title="{{ title }}"
    data-images="{{ images|json_encode|default({}) }}"
    data-geojson-dso="{{ geojsonDso }}"
    data-astrobin-msg="{{ 'astrobin.message'|trans }}"
    data-title-const="{{ constTitle }}"
    data-dso-const="{{ dso_by_const|json_encode }}"
  >
  </div>
  <div id="geojson" data-dso="{{ geojsonDso|json_encode }}" aria-hidden="true"></div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('dso') }}
  {#{{ encore_entry_script_tags('celestial') }}#}
{% endblock %}
