{% extends 'base.html.twig' %}

{% set pageTitle = title %}
{% set pageImage = imgCover %}
{% set pageDesc = desc|trans %}
{#https://coxpi.draftium.site/#}

{% block content %}
  <div id="appDso"
    data-dso-widget
    data-imgcover="{{ imgCover|default('default') }}"
    data-imgcoveruser="{{ imgCoverUser|default('') }}"
    data-dso="{{ dsoData|json_encode }}"
    data-title="{{ title }}"
    data-title-map="{{ 'skymap'|trans }}"
    data-title-gallery="{{ 'galery'|trans }}"
    data-images="{{ images|json_encode|default({}) }}"
    data-astrobin-msg="{{ 'astrobin.message'|trans }}"
    data-title-const="{{ constTitle }}"
    data-dso-const="{{ dso_by_const|json_encode }}"
    data-filter="{{ list_types_filters|json_encode }}"
  >
  </div>
  <div id="geojson"
       data-dso="{{ geojsonDso|json_encode }}"
       data-center="{{ centerMap|json_encode }}"
       data-const="{{ constId|raw }}"
       data-zoom="10" aria-hidden="true"></div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('dso') }}
  {{ encore_entry_script_tags('skymap') }}
{% endblock %}
