{% extends 'base.html.twig' %}

{% set pageTitle =  'dso.title.seo'|trans({'%title%': dso.title, '%type%': dso.type|trans|lower }) %}
{% set pageImage = dso.astrobin.url_regular|default('default') %}

{% set descDefaut = 'dso.desc.seo'|trans({'%title%': dso.title, '%constId%': dso.constellation.title|lower,'%type%': dso.type|trans|lower, '%mag%': dso.magnitude }) %}
{% set pageDesc = dso.description|truncate(200)|default(descDefaut) %}
{% set pageImageDesc = imgCoverAlt %}

{#https://coxpi.draftium.site/#}

{% block content %}
  <div id="appDso"
    data-dso-widget
    data-imgcover="{{ dso.astrobin.url_regular|default('default') }}"
    data-imgcoveralt="{{ imgCoverAlt|default('') }}"
    data-dso="{{ dsoData|json_encode }}"
    data-title="{{ dso.title }}"
    data-description="{{ dso.description }}"
    data-title-map="{{ 'skymap'|trans }}"
    data-title-gallery="{{ 'galery'|trans }}"
    data-images="{{ images|json_encode|default({}) }}"
    data-astrobin-msg="{{ 'astrobin.message'|trans }}"
    data-title-const="{{ dso.constellation.title }}"
    data-dso-const="{{ dso_by_const|json_encode }}"
    data-filter="{{ list_types_filters|json_encode }}"
    data-breadcrumbs="{{ breadcrumbs|json_encode }}"
  >
  </div>
  <div id="geojson"
    data-dso="{{ geojsonDso|json_encode }}"
    data-center="{{ dso.geometry['coordinates']|json_encode }}"
    data-const="{{ dso.constellationId|raw }}"
    data-zoom="10" aria-hidden="true">
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('dso') }}
  {{ encore_entry_script_tags('skymap') }}
{% endblock %}
