{% extends 'base.html.twig' %}

{% set pageTitle = event.name %}
{% set pageDesc = event.description %}

{% block content %}
  <div id="app"
    data-observation-widget
    data-name="{{ pageTitle }}"
    data-description="{{ pageDesc }}"
    data-listData="{{ data|json_encode }}"
    data-coordinates="{{ coordinates|json_encode }}"
  ></div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('observation') }}
{% endblock %}
