{% extends 'base.html.twig' %}

{% set siteName = 'dso'|trans %}
{% set pageTitle = "api.title"|trans %}
{% set pageDesc = 'api.intro'|trans({"%sitename%": siteName})[:200] %}

{% block content %}
  <div id="app">
    <section class="Dso__main">
      <div class="Dso__container Dso__noHeader">
        <h1 class="Dso__title">{{ "api.title"|trans }}</h1>

        <div class="Dso__description">
          {{ 'api.intro'|trans({"%sitename%": siteName})|nl2br }}
        </div>

        <h3 class="Dso__title">{{ "api.title.form"|trans }}</h3>

        {% for messages in app.flashes("form.failed") %}
          <div class="Form__message Form__error">
            {{ messages|trans }}
          </div>
        {% endfor %}

        {% for messages in app.flashes("form.success") %}
          <div class="Form__message Form__success">
            {{ messages|trans }}
          </div>
        {% endfor %}

        {% if false == is_valid %}
          <div class="Dso__Form">
            {% include 'forms/add_api_user.html.twig' with {'form': formRegister} %}
          </div>
        {% endif %}

        <h3 class="Dso__title">{{ "api.title.endpoints"|trans }}</h3>

          <div class="Dso__description">
            <p><strong>{{ 'api.get_token'|trans }} :</strong></p>
            <pre>
              <code>curl -X POST -H "Content-Type: application/json" {{ absolute_url(path('api_auth_login')) }} -d '{"username": "YOUR-USERNAME", "password": "YOUR-PASSWORD"}'</code>
            </pre>
            <p>{{ 'api.get_token.desc'|trans }}</p>
            <ul>
              <li>{{ 'api.refresh.token_1'|trans({'%urlLogin%': absolute_url(path('api_auth_login'))}) }}</li>
              <li>{{ 'api.refresh.token_2'|trans({'%urlRefresh%': absolute_url(path('gesdinet_jwt_refresh_token'))}) }}</li>
            </ul>
            <pre>
              <code>
                curl -X POST -d refresh_token='REFRESH_TOKEN' '{{ absolute_url(path('gesdinet_jwt_refresh_token')) }}'
              </code>
            </pre>
          </div>


          <div class="Dso__description">
            <p><strong>{{ 'api.objects.id'|trans }} :</strong></p>
            <pre>
              <code>curl  -X GET -H 'Authorization: Bearer YOUR-TOKEN' {{ absolute_url(path('api_object_dso', {id: "M31"})) }}</code>
            </pre>
          </div>

          <div class="Dso__description">
            <p><strong>{{ 'api.objects.catalog'|trans }} :</strong></p>
            <pre>
              <code>curl  -X GET -H 'Authorization: Bearer YOUR-TOKEN' {{ absolute_url(path('api_objects_by_catalog', {catalog: "messier"})) }}</code>
            </pre>
            <div id="btnCatalog">
              {{ 'api.data.filters'|trans }}
              <svgicon name="down" width="20" height="20" v-if="!showCatalog" v-on:click="toggleCatalog()"></svgicon>
              <svgicon name="up" width="20" height="20" v-if="showCatalog" v-on:click="toggleCatalog()"></svgicon>

              <div class="appGridFacet__list" v-if="showCatalog">
                {{ build_api_filter('catalog').message|raw }}
              </div>
            </div>
          </div>


          <div class="Dso__description">
            <p><strong>{{ 'api.objects.const'|trans }} :</strong></p>
            <pre>
              <code>curl  -X GET -H 'Authorization: Bearer YOUR-TOKEN' {{ absolute_url(path('api_objects_by_constellation', {constellation: "Ori"})) }}</code>
            </pre>
            <div id="btnConst">
              {{ 'api.data.filters'|trans }}
              <svgicon name="down" width="20" height="20" v-if="!showConstellation" v-on:click="toggleConstellation()"></svgicon>
              <svgicon name="up" width="20" height="20" v-if="showConstellation" v-on:click="toggleConstellation()"></svgicon>

              <div class="appGridFacet__list" v-if="showConstellation">
                {{ build_api_filter('constellation').message|raw }}
              </div>
            </div>
          </div>


          <div class="Dso__description">
            <p><strong>{{ 'api.objects.type'|trans }} :</strong></p>
            <pre>
              <code>curl  -X GET -H 'Authorization: Bearer YOUR-TOKEN' {{ absolute_url(path('api_objects_by_type', {type: "pn"})) }}</code>
            </pre>
            <div id="btnType">
              {{ 'api.data.filters'|trans }}
              <svgicon name="down" width="20" height="20" v-if="!showType" v-on:click="toggleType()"></svgicon>
              <svgicon name="up" width="20" height="20" v-if="showType" v-on:click="toggleType()"></svgicon>

              <div class="appGridFacet__list" v-if="showType">
                {{ build_api_filter('type').message|raw }}
              </div>
            </div>
          </div>

          <div class="Dso__description">
            <p><strong>{{ 'api.objects.multi'|trans }}</strong></p>
            <pre>
              <code>curl  -X GET -H 'Authorization: Bearer YOUR-TOKEN' {{ absolute_url(path('api_dso_get_items', {catalog: "messier", constellation: "Ori", offset: 5, limit:5})) }}</code>
            </pre>
          </div>

      </div>
    </section>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('help_api') }}
{% endblock %}
