{% extends 'base.html.twig' %}

{% set pageTitle = 'homepage.message'|trans %}
{% set pageDesc = 'homepage.desc'|trans({'%sitename%': 'dso'|trans}) %}
{% set pageImage = absolute_url('/build/images/background/sources/bg-1.jpg') %}

{% block content %}
  <div id="appHome"
     data-home-title="{{ 'homepage.message'|trans }}"
     data-search-route="{{ path('search_ajax', {'_locale': currentLocale}) }}"
     data-search-placeholder="{{ 'home.search.placeholder'|trans }}"
     data-search-placeholder-mobile="{{ 'home.search.placeholder_mobile'|trans|trim }}"
  ></div>
  {{ render_esi(controller('App\\Controller\\HomeController::vignettesDso')) }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('home') }}
{% endblock %}
