{% extends 'base.html.twig' %}

{% set pageTitle = 'homepage.message'|trans %}
{% set pageDesc = 'homepage.desc'|trans({'%sitename%': 'dso'|trans}) %}
{% set pageImage = '' %}

{% block content %}
  <div id="appHome"
     data-home-title="{{ 'homepage.message'|trans }}"
     data-search-route="{{ path('search_ajax') }}"
     data-search-placeholder="{{ 'home.search.placeholder'|trans }}"
  ></div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('home') }}
{% endblock %}
