{% extends 'base.html.twig' %}

{% set pageTitle = 'listObservations'|trans %}
{% set pageDesc = 'listObservationsDesc'|trans %}
{% set pageImage = '' %}

{% block content %}
  <div id="app"
     data-observations-list
     data-title="{{ pageTitle }}"
     data-map-title="{{ 'locationObservation'|trans }}"
     data-search-route="{{ path('search_observation_ajax') }}"
  >
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('observations') }}
{% endblock %}