{% extends 'base.html.twig' %}

{% set pageTitle = 'support.title'|trans %}
{% set pageDesc = 'support.desc'|trans|truncate(200) %}

{% block content %}
  <div>
    <section class="Dso__main">
      <div class="Dso__container Dso__noHeader">
        <h1 class="Dso__title">{{ 'support.title'|trans }}</h1>

        <div>
          <p>{{ 'support.first'|trans({'%sitename%': 'dso'|trans})|raw }}</p>
          <p>
            <ul>
              <li>{{ 'support.choice.first'|trans }}</li>
              <li>{{ 'support.choice.second'|trans }}</li>
            </ul>
            {{ 'support.second'|trans|raw }}
          </p>
          <div class="footer__share">
            <div id="appLinks"
                 data-links="{{ links|json_encode }}"
            ></div>
          </div>
          <p>
            {{ 'support.third'|trans|raw }}
          </p>
          <p>{{ 'support.fourth'|trans({'%sitename%': 'dso'|trans})|raw }}</p>
        </div>
      </div>
    </section>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('support') }}
{% endblock %}
{#ex : https://www.unevieextraordinaire.com/credits #}
