<div>
  <p>Name : {{ contact.lastname }}</p>
  <p>Firstname : {{ contact.firstname }}</p>
  <p>Email : {{ contact.email }}</p>
  <p>Country : {{  contact.label_country }}</p>
  <p>Subject : {{ contact.topic|trans }}</p>
  <p>Message : {{ contact.message|raw }}</p>
</div>