{{ form_start(form, {'attr': {'class': 'recaptcha-form'}}) }}

  <div class="Form__group">
    <div class="Form__element Form__element__1-2">
      {{ form_label(form.firstname) }}
      {{ form_widget(form.firstname) }}
      <small>{{ form_help(form.firstname) }}</small>
      <div class="Form__input-error">
        {{ form_errors(form.firstname) }}
      </div>
    </div>

    <div class="Form__element Form__element__1-2">
      {{ form_label(form.lastname) }}
      {{ form_widget(form.lastname) }}
      <div class="Form__input-error">
        {{ form_errors(form.lastname) }}
      </div>
    </div>
  </div>

  {#<div class="Form__group">#}
    {#{{ form_label(form.email.first) }}#}
    {#{{ form_widget(form.email.first) }}#}

    {#{{ form_label(form.email.second) }}#}
    {#{{ form_widget(form.email.second) }}#}
    {#<div class="Form__input-error">#}
      {#{{ form_errors(form.email) }}#}
    {#</div>#}
  {#</div>#}

  <div class="Form__group">
    {% for emailField in form.email %}
      <div class="Form__element Form__element__1-2">
        {{ form_label(emailField) }}
        {{ form_widget(emailField) }}

        <div class="Form__input-error">
          {{ form_errors(emailField) }}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="Form__group">
    <div class="Form__element Form__element__1-2">
      {{ form_label(form.country) }}
      {{ form_widget(form.country) }}
      <div class="Form__input-error">
        {{ form_errors(form.country) }}
      </div>
    </div>

    <div class="Form__element Form__element__1-2">
      {% form_theme form 'forms/extends/radio.html.twig' %}
      {{ form_label(form.topic) }}
      {{ form_widget(form.topic) }}
      <div class="Form__input-error">
        {{ form_errors(form.topic) }}
      </div>
    </div>
  </div>

  {% form_theme form _self %}
  <div class="Form__group">
    {{ form_label(form.message) }}
    {{ form_widget(form.message) }}
    <div class="Form__input-error">
      {{ form_errors(form.message) }}
    </div>
  </div>

  {{ form_widget(form.pot2Miel) }}

  {% form_theme form '@EWZRecaptcha/Form/ewz_recaptcha_widget.html.twig' %}
  {{ form_widget(form.recaptcha) }}

  <div class="Form__group">
    {{ 'contact.mandatory'|trans }}
  </div>

  <div class="Form__group">
    <button type="submit" class="Form__submit" id="btn_contact_submit">{{ 'contact.form.submit'|trans }}</button>
  </div>


  {{ form_rest(form) }}
{{ form_end(form) }}
