<header class="header">
  <div class="header__container">
    <h1 class="h1 h1__title">
      <i class="fas fa-bars"></i>
      <a href="{{ path('homepage') }}">{{ 'dso'|trans }}</a>
    </h1>

    <nav></nav>

    <div class="header__switchLang">
      <i class="far fa-flag"></i> {{ 'selectLang'|trans }}
      <div class="header__dropdown">
        {% for locale in listLocales %}
          <a href="{{ path(_route ~ '.' ~ locale, params|merge({'_locale': locale})) }}" lang="{{ locale }}" title="{{ locale|trans }}">{{ locale|trans }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</header>
