<div id="appHeader"
 data-home-route="{{ path('homepage') }}"
 data-menu-side="{{ leftSideMenu|json_encode }}"
 data-route="{{ _route }}"
 data-locales="{{ listLocales|json_encode }}"
 data-currentlocale="{{ currentLocale }}"
 data-title="{{ 'dso'|trans }}"
 data-search-route="{{ path('search_ajax') }}"
 data-search-placeholder="{{ 'home.search.placeholder'|trans }}"
>
</div>