{% set labelsTranslation = {
    'title': 'dso'|trans|trim,
    'searchPlaceholder': 'home.search.placeholder'|trans|trim,
    'searchPlaceholderMobile': 'home.search.placeholder_mobile'|trans|trim,
    'openMenu': 'openMenu'|trans|trim,
    'switchLang': 'switchLang'|trans|trim,
    'nightMode': 'nightMode'|trans,
    'dayMode': 'dayMode'|trans,
    'titleData': 'dso_tr'|trans|trim
  }
%}
<div id="appHeader"
 data-home-route="{{ path('homepage', {'_locale': currentLocale}) }}"
 data-notification="{{ notification|json_encode }}"
 data-constellation="{{ constellation|json_encode }}"
 data-menu-data="{{ menuData|json_encode }}"
 data-menu-mobile="{{ leftSideMenu|json_encode }}"
 data-route="{{ _route }}"
 data-locales="{{ listLocales|json_encode }}"
 data-currentlocale="{{ currentLocale }}"
 data-search-route="{{ routeSearch }}"
 data-labels="{{ labelsTranslation|json_encode }}"
>
</div>
