{% block layout %}
  {% set pageLang = app.request.locale %}
  {% set pageTitle = 'dso'|trans ~ ' - ' ~ pageTitle|default('') %}

  {% set pageDescDefault = 'homepage.desc'|trans({'%sitename%': 'dso'|trans}) %}
  {% set pageDesc = pageDesc|default(pageDescDefault) %}

  {% set pageUrl = app.request.uri %}
  {% set pageImage = pageImage|default('/build/images/logos/astro_otter_500-500.png') %}
  {% set pageImage200 = '/build/images/logos/astro_otter_200-200.png' %}
  {% set pageOgImage = pageImage|default(pageImage200) %}
  {% set pageImageDesc = pageImageDesc|default('') %}
  {% set pageUrlCanonical = app.request.getSchemeAndHttpHost ~ app.request.baseUrl ~ app.request.pathInfo %}

  {% set favicon = favicon|default('') %}
  {% set facebookId = facebookId|default(null) %}

  {% set analyticsId = analyticsId|default('') %}
  <!DOCTYPE html>
  <html lang="{{ pageLang }}">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
      {% block meta %}
        {#Meta#}
        <title>{{ pageTitle }}</title>
        <meta name="title" content="{{ pageTitle }}" />
        <meta name="description" content="{{ pageDesc }}" />
        <link rel="canonical" href="{{ pageUrlCanonical }}" />

        {#OpenGraph#}
        <meta property="fb:app_id"        content="{{ facebookId }}" />
        <meta property="og:url"           content="{{ pageUrl }}" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="{{ pageTitle }}" />
        <meta property="og:description"   content="{{ pageDesc }}" />
        <meta property="og:image"         content="{{ pageOgImage }}" />
        <meta property="og:image:alt"     content="{{ pageImageDesc }}" />
        <meta property="og:locale"        content="{{ pageLang }}" />
        <meta property="og:site_name"     content="{{ 'dso'|trans }}" />

        {# Twitter cards #}
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="{{ twitter_name }}" />
        <meta name="twitter:title" content="{{ pageTitle }}" />
        <meta name="twitter:description" content="{{ pageDesc }}" />
        <meta name="twitter:image" content="{{ pageOgImage }}" />

      {% endblock %}

      {#Favicon#}
      <link rel="apple-touch-icon" sizes="180x180" href="{{ favicon.apple }}">
      <link rel="icon" type="image/png" sizes="32x32" href="{{ favicon.size_32|default }}">
      <link rel="icon" type="image/png" sizes="16x16" href="{{ favicon.size_16|default }}">
      <link rel="manifest" href="{{ favicon.manifest }}">
      <link rel="mask-icon" href="{{ favicon.mask_icon }}" color="#5bbad5">
      <meta name="msapplication-TileColor" content="{{ favicon.ms_tile }}">
      <meta name="theme-color" content="{{ favicon.theme }}">

      {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
      {% endblock %}

      {% block schema_data %}
        {% include 'includes/schema/logo.html.twig' %}
      {% endblock %}

      {% block analytics %}
        {% include 'includes/layout/analytics.html.twig' %}
      {% endblock %}
    </head>

    <body>
    {% block body %}
      {% block header %}
        {{ render(controller('App\\Controller\\LayoutController::header')) }}
      {% endblock %}

      <main>{% block content %}{% endblock %}</main>

      {% block footer %}
         {{ render(controller('App\\Controller\\LayoutController::footer')) }}
      {% endblock %}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
  </html>
{% endblock %}
