{% block layout %}
  {% spaceless %}
    {% set pageLang = app.request.locale %}
    {% set pageTitle = 'dso'|trans ~ ' - ' ~ pageTitle|default('') %}
    {% set pageDesc = pageDesc|default('dso'|trans) %}
    {% set pageUrl = app.request.uri %}
    {% set pageImage = pageImage|default(null) %}
    {% set pageUrlCanonical = app.request.getSchemeAndHttpHost ~ app.request.baseUrl ~ app.request.pathInfo %}
    {% set favicon = favicon|default('') %}
    {% set facebookId = facebookId|default(null) %}
  {% endspaceless %}
  <!DOCTYPE html>
  <html lang="{{ pageLang }}">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      {% block meta %}
        {#Meta#}
        <title>{{ pageTitle }}</title>
        <meta name="title" content="{{ pageTitle }}">
        <meta name="description" content="{{ pageDesc }}">
        <link rel="canonical" href="{{ pageUrlCanonical }}">

        {#OpenGraph#}
        <meta property="fb:app_id"        content="{{ facebookId }}" />
        <meta property="og:url"           content="{{ pageUrl }}" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="{{ pageTitle }}" />
        <meta property="og:description"   content="{{ pageDesc }}" />
        <meta property="og:image"         content="{{ pageImage }}" />
        <meta property="og:locale"        content="{{ pageLang }}" />
        <meta property="og:site_name"     content="{{ 'dso'|trans }}" />
      {% endblock %}
      {#Favicon#}
      <link rel="icon" type="image/x-icon" href="{{ favicon }}"/>

      {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
      {% endblock %}
    </head>

    <body>
    {% block body %}
      {% block header %}
        {{ render(controller('App\\Controller\\LayoutController::header')) }}
      {% endblock %}

      {% block content %}{% endblock %}

      {#{% block footer %}#}
        {#{{ render(controller('App\\Controller\\LayoutController::footer')) }}#}
      {#{% endblock %}#}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
  </html>
{% endblock %}
